.navbar-rb {
    background: #0a74ff;
    border-radius: 0px;
    /* border: 1px solid #ccc; */
    color: white;
    margin-top: -7px;
    height: 107px;
    box-shadow: 1px 3px #bbbaba;
    border-bottom: 4px solid #957122;
}

.navbar-rb-search-control {
    height: 36px;
    width: 600px;
    font-size: 15px;
    padding: 2px;
    color: black;
    
}
.navbar-rb-btn {
    border: 2px solid #e9e9e9;
    height: 35px;
}
@media only screen and (max-width:768px){
.navbar-rb-search-control{
    width: 65%;
    float: left;
}
.navbar-rb-btn{
    float: right;
    margin-top: -5px;
    margin-left: 2px;
}
    .navbar-rb {
        margin-bottom: 9px;
        height: 190px;
    } 
.navbar-rb>div{
    padding-bottom: 13px;
}
    .navbar-left {
        
        padding-top: 59px !important;
        width: 100% !important;
    }
    .navbar-rb-search-control {
        height: 36px;
        width: 63% !IMPORTANT;
        font-size: 14px;
        padding: -1px;
        color: black;
    }
}

.robert-navbar-nav > li > a {
    color: white;
    padding: 7px;
    margin-top: 4px;
    border-radius: 2px;
}
.mob-title-home-page {
   display:none;
}
@media only screen and (max-width:768px) {
    .mob-title-home-page {
        display: block;
        float: left;
        width: 17%;
        line-height: 37px;
    }
    .mob-title-home-page-not-desktop {
     display:none;
    }
    .ads-top-banner {
        padding: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .navbar-header {
        margin: 7px 90px !important;
    }
}

@media only screen and (min-width:300px) and (max-width:346px) {
    .navbar-rb-search-control {
        width: 63%;
    }
    .navbar-form {
      height:60px;
    }
 }

.logo2 {
    border-radius: 10px;
    line-height: 5px;
    border: 1px solid #ccc;
    font-family: sans-serif !important;
    background-image: url(http://kouytheavy.com/beta/photo/logo2.png);
    width: 81px;
    height: 92px;
    background-size: cover;
    z-index: 99999999999999;
    position: relative;
}

.navbar-nav {
    height: 118px;
    padding-top: 35px;
}

.navbar-left {
    float: left !important;
    /* height: 40px; */
    padding-top: 30px;
}


@media only screen and (max-width:768px) {
    .logo2 {
        margin-left: 28px !important; 
    }
}