.navbar-rb {
    background: #313c64;
    border-radius: 0px;
    /* border: 1px solid #ccc; */
    color: white;
    margin-top: -7px;
}

.navbar-rb-search-control {
    height: 36px;
    width: 600px;
    font-size: 15px;
    padding: 2px;
    color: black;
}
.navbar-rb-btn {
    border: 1px solid #ccc;
    height: 36px;
}
@media only screen and (max-width:768px){
.navbar-rb-search-control{
    width: 83%;
    float: left;
}
.navbar-rb-btn{
    float: right;
    margin-top: -5px;
    margin-left: 2px;
}  
.navbar-rb{
    margin-bottom: 9px;
} 
.navbar-rb>div{
    padding-bottom: 13px;
}
}