

<!DOCTYPE html>
<html lang="fr-FR" ng-app="appModule">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Youtube">
		<meta name="author" content="Johan">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<title>Kouytheavy | University of Money</title>
		<!-- <link rel="stylesheet" type="text/css" href="assets/css/app.css"> -->
	
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
        <script src="//npmcdn.com/@uirouter/angularjs@1.0.5/release/angular-ui-router.js"></script>
        <link rel='stylesheet' href='lib/angular-loading-bar/loading-bar.css' type='text/css' media='all' />
		<script type='text/javascript' src='lib/angular-loading-bar/loading-bar.js'></script>
		<link rel="stylesheet" type="text/css" href="lib/angular-lazy-image/lazy-image-style.css" />
		<script src="lib/angular-lazy-image/lazy-image.js"></script>
		<script src="lib/ng-infinite-scroll/ng-infinite-scroll.min.js"></script>
       
		<!-- Magnific Popup core CSS file -->
		<link rel="stylesheet" href="lib/magnific-popup/magnific-popup.css"/>

		<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<!-- Magnific Popup core JS file -->
		<script src="lib/magnific-popup/jquery.magnific-popup.js"></script>

        <!------ Include the above in your HEAD tag ---------->
        <script src="lib/ui-carousel/ui-carousel.min.js"></script>
        <link rel='stylesheet' href='lib/ui-carousel/ui-carousel.min.css' />
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <!------ Include videre ---------->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot">
        <link href="https://fonts.googleapis.com/css?family=Hanuman:400,700&amp;subset=khmer" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Koulen" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Battambang" rel="stylesheet"/>
        <script src="lib/videre/videre.js"></script>
        <link href="lib/videre/videre.css" rel="stylesheet" />
        <link href="lib/OwlCarousel2/owl.carousel.min.css" rel="stylesheet" />
        <link href="lib/OwlCarousel2/owl.theme.default.min.css" rel="stylesheet" />
        <script src="lib/OwlCarousel2/owl.carousel.min.js"></script>
        <!------ Include videre ---------->
        <link href="header.css" rel="stylesheet" />
        <link href="common.css" rel="stylesheet"/>
        <script src="app.js"></script>
        <!--Directive-->
        <script src="robertDailog.js"></script>
        <link rel="stylesheet" href="robertViewer.css" />
        <script src="robertViewer.js"></script>
        <script src="directives/RobertOwlCarousel/RobertOwlCarousel.js"></script>
        <!--Controller-->
        <script src="home.js"></script>
        <script src="category.js"></script>
        <script src="viewer.js"></script>
        <script src="search.js"></script>
        
	</head>
	<body>
	

      
        <!--<div class="container">
            <div class="col-md-12 text-center" style="
    padding-bottom: 15px;
">
                <img src="http://www.kouytheavy.com/banner-top.png" srcset="http://www.kouytheavy.com/banner-top.png" sizes="(max-width: 640px) 100vw, 640px" alt="www.kouytheavy.com" title="kouytheavy.com" width="90%" style="
    width: 61%;
">

            </div>
        </div>-->

        <div class='contioner wrap-action' scroll>

            <div>

                <div ng-class="{slider:true,active:scrolled}">
                   ONLINE COURSE
                </div>

                <div id='title'>
                    <nav class="navbar navbar-rb">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#" style="
                                    text-align: center;
                                    color: white;
                                    font-weight: 700;
                                    margin-top: -9px;
                                ">
                                    
                                <div class="logo2"></div>
                                
                                
                                </a>
                             
                            </div>
                            <ul class="nav navbar-nav robert-navbar-nav mob-title-home-page-not-desktop">
                                <li class="active"><a href="#">ទំព័រដើម</a></li>
                            </ul>
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <a href="#" class="mob-title-home-page" style="
                                        float: left;
                                        width: 17%;
                                    ">ទំព័រដើម</a>
                                    <input type="text" my-enter ng-model="searchText" class="navbar-rb-search-control" placeholder="Search">
                                </div>
                                <button class="navbar-rb-btn" ng-click="searchData()">Submit</button>
                            </form>
                        </div>
                    </nav>

                </div>
                <section class='wrapper'>
                    <div class="container backgroupd-container">
                       <div class="col-md-4 mob-title-home-page-not-desktop">
                           <img  style="width: 83%;"   src="http://www.kouytheavy.com/logo-2.png" alt="www.kouytheavy.com" title="kouytheavy.com"/>
                       </div>
                        <div class="col-md-8 ads-top-banner">
                            <img style="width:100%"  src="http://www.kouytheavy.com/banner-top.png" alt="www.kouytheavy.com" title="kouytheavy.com" />
                        </div>
                    </div>
                </section>
                    <section class='wrapper'>
                        <ui-view></ui-view>
                    </section>

</div>
        </div>

       
          <!--footer-->


        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-xs-12">
                            <span class="logo">kouytheavy.com</span>
                        </div>
                       <!--<div class="col-lg-3 col-xs-12">
                            <h3>MENU</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Board of Directors</a></li>
                                <li><a href="#">Mission-Vision</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>-->
                         <!--
                        <div class="col-lg-3 col-xs-12">
                            <h3>CATEGORIES</h3>
                            <ul>
                                <li><a href="#">Photo Gallery</a></li>
                                <li><a href="#">Video Gallery</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Announcement</a></li>
                            </ul>
                        </div>-->
                        <!--<div class="col-lg-3 col-xs-12 pull-right">
                            <h3>CONTACT</h3>
                            <ul>
                                <li> <a href="#">Address</a> </li>
                                <li> <a href="#">Phone</a> </li>
                                <li> <a href="#">Fax</a> </li>
                                <li> <a href="#">E-Mail</a> </li>
                            </ul>
                        </div>-->

                    </div>
                </div>
            </div>
        </footer>

        <div class="footer-bottom">
            <p>Copyright © 2017. All right reserved.</p>
        </div>
        
	</body>
</html>