

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* border-radius: 15px; */
    border-color: #d2d2d2;
    margin-bottom: 21px;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.video-lock-container {
    background-image: url(../photo/video-lock.png);
    background-size: cover;
    width: 50%;
    height: 420px;
    position:relative;
}
.sub-video-lock-container {
    margin-top: 76px;
}

    .sub-video-lock-container .title {
        color: white;
    }

.video-lock-container .wrapper {
    margin-top: 5px;
}

@media only screen and (max-width:768px) {
    .video-lock-container {
        width: 100%;
        height: 251px;
    }
    .sub-video-lock-container {
        margin-top: 47px;
    }
        .sub-video-lock-container .title {
            font-size:10px
        }
}